// This file can be replaced during build by using the `fileReplacements` array.
// `ng build --prod` replaces `environment.ts` with `environment.prod.ts`.
// The list of file replacements can be found in `angular.json`.

export const environment = {
  production: false,
  dropbox_client_id: '<YourDropboxClientId>',
  dropbox_access_token: '<YourDropboxAccessToken>',
  dropbox_base_dir: '<YourDropboxBaseDir>',
  s3_bucket_name: '<YourS3BucketName>',
  s3_access_key_id: '<YourS3AccessKeyId>',
  s3_secret_access_key: '<YourS3SecretAccessKey>',
  s3_region: '<YourS3Region>',
  s3_base_dir: '<YourS3BaseDir>',
};

/*
 * For easier debugging in development mode, you can import the following file
 * to ignore zone related error stack frames such as `zone.run`, `zoneDelegate.invokeTask`.
 *
 * This import should be commented out in production mode because it will have a negative impact
 * on performance if an error is thrown.
 */
// import 'zone.js/dist/zone-error';  // Included with Angular CLI.
